<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLConn" connectionString="Data Source=CHOI;Initial Catalog=Cronn_PRD;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DefaultSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
      
        <client>
            <endpoint address="http://localhost:8080/Monitor/Boleto/default.asmx"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
                contract="MBSVC.DefaultSoap" name="DefaultSoap" />
        </client>
      
    </system.serviceModel>
</configuration>
